.mainLayout {
  margin: 0 auto;
  width: 1920px;
  min-height: 1080px;
  display: flex;
  justify-content: center;
  background-color: #F4F5F9;
  border: solid blue 1px;
}

.content {
  margin-left: 160px;
  width: 1440px;
  height: 1080px;
  border: solid red 1px;
}