.counterContainer {
  position: absolute;
  top: 47%;
  left: -44%;
  display: flex;
  gap: 90px;
  font-size: 200px;
  font-weight: 700;

  .startDate {
    color: var(--color-blue);
  }

  .endDate {
    color: var(--color-pink);
  }
}

@media (max-width: 1465px) {
  .counterContainer {
    top: 290px;
  }
}

@media (max-width: 1300px) {
  .counterContainer {
    gap: 70px;
    font-size: 130px;
    top: 250px;
    left: -130px;
  }
}

@media (max-width: 1024px) {
  .counterContainer {
    gap: 30px;
    font-size: 80px;
    top: 200px;
    left: -45px;
  }
}

@media (max-width: 768px) {
  .counterContainer {
    gap: 30px;
    font-size: 56px;
    top: 200px;
    left: 8px;
  }
}