.swiperContainer {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.buttonsWrapper {
  position: absolute;
  top: 50%;
  left: -4%;
  right: -4%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slide {
  cursor: pointer;
}

.year {
  font-family: 'Bebas Neue';
  font-size: 25px;
  line-height: 120%;
  color: var(--color-blue);
  margin-bottom: 15px;
}

.description {
  font-size: 20px;
  line-height: 30px;
}

p, h3 {
  margin: 0;
};