.infoBlockWrapper {

  .infoBlockLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    margin-left: 160px;
    width: 1440px;
    height: 1080px;
    border: solid rgba(66, 86, 122, 0.2) 1px;

    .circleContainer {
      position: relative;
      width: 530px;
      height: 530px;
      padding-top: 215px;

      .circle {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(66, 86, 122, 0.2);
        border-radius: 50%;
        position: relative;
        transition: transform 0.3s ease-out;

        .point {
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          border: none;
          background: var(--color-black-blue);
          cursor: pointer;
          padding: 0;
          transition: 0.3s ease;
          transform: translate(-50%, -50%);

          .pointNumber {
            position: absolute;
            color: var(--color-black-blue);
            font-size: 20px;
            top: 50%;
            left: 50%;
            display: none;
            transform: translate(-50%, -50%);
          }

          &:hover, &.active {
            width: 56px;
            height: 56px;
            background: var(--color-background);
            border: 1px solid rgba(66, 86, 122, 0.5);
            transition: 0.3s ease;

            .pointNumber {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1650px) {
  .infoBlockWrapper .infoBlockLayout {
    margin: 0 auto;
  }
}

@media (max-width: 1465px) {
  .infoBlockWrapper .infoBlockLayout {
    width: 1280px;
    height: 960px;

    .circleContainer {
      padding-top: 160px;
    }
  }
}

@media (max-width: 1300px) {
  .infoBlockWrapper .infoBlockLayout {
    width: 1020px;
    height: 765px;
    gap: 65px;

    .circleContainer {
      padding-top: 139px;
      width: 400px;
      height: 400px;
    }
  }
}

@media (max-width: 1024px) {
  .infoBlockWrapper .infoBlockLayout {
    width: 764px;
    height: 573px;
    gap: 40px;

    .circleContainer {
      padding-top: 103px;
      width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: 768px) {
  .infoBlockWrapper .infoBlockLayout {
    width: 316px;
    height: 564px;
    gap: 120px;

    .circleContainer {
      height: 100px;

      .circle {
        display: none;
      }
    }
  }
}